<div class = "search_text_field">
    <%= form_with url: searches_search_index_path, local: true do |form| %>
    <div class="field">
    <% if @search_data.nil? %>
        <%= form.text_field :search %>
    <% else %>
        <%= form.text_field :search, value: @search_data %>
    <% end %>
        <%= form.submit value="検索" %>
    </div>
    <% end %>
</div>