header {
    background-color: #444;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
}

.ko_menu {
    margin-left: 20px;
}

.logo {
    font-size: 2em;
    color: #fff;
    padding: 5px;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo a:link {
    text-decoration: none;
    color: #fff;
}

.logo a:visited {
    text-decoration: none;
    color: #fff;
}

.menu {
    padding-right: 10px;
    color: #fff;
}

.menu a {
    color: #fff;
}

.menu a:link {
    color: #fff;
}

.menu a:visited {
    color: #fff;
}

.menu a:hover {
    color: #fff;
}

.search_text_field {
    margin: 10px;
}

