// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.errmessage {
    color: #800;
}

.base_layout {
    margin: 33px;
}

.search_result {
    padding-bottom: 20px;
}

.title {
    font-size: 1.3em;
}

.title a:visited {
    color: rgb(29, 0, 136)
}